destination: docs
host: 0.0.0.0

collections:
  authors:
    output: true
  pillars:
    output: true
  videos:
    output: true
  workshops:
    output: true
  workshop_categories:
  events:

defaults:
  - scope:
      path: ""
      type: "authors"
    values:
      layout: "author"
  - scope:
      path: ""
      type: "pillars"
    values:
      layout: "item"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "videos"
    values:
      layout: "video"
  - scope:
      path: ""
      type: "workshops"
    values:
      layout: "workshop"
  - scope:
      path: ""
    values:
      layout: "default"

kramdown:
  entity_output: :as_input

plugins:
  - jekyll-feed

repository: egaillot/changer-grandir
