---
title: Nos ateliers
---

<div class='liste-items'>
  <h1>Nos ateliers</h1>

  <p>
    Nos ateliers sont à destination de groupes divers, préalablement constitués
    ou non, pour une participation ponctuelle ou récurrente.
  </p>

  <p>
    Ils peuvent prendre la forme d'événements publics ou d'animations pour le
    bénéfices d'équipes professionnelles et associatives. Indépendamment du
    contexte, de la durée et de la forme, nous animons ces ateliers en honorant
    ce qui est au cœur de l'approche de Virginia Satir : créer et approfondir
    des connexions, explorer de nouvelles facettes de soi.
  </p>

  {% for category in site.workshop_categories %}
    <h2>{{ category.description }}</h2>

    <ul>
      {% assign workshops = site.workshops | where: "workshop_category", category.name %}
      {% for workshop in workshops %}
        <li>
          <div class="infos-item">
            <h2><a href="{{ workshop.url | relative_url }}">{{ workshop.title }}</a></h2>
          </div>
          <div class="resume-item">
            <img src="{{ workshop.image | relative_url }}">
            <div class="texte-resume">
              {{ workshop.lead }}
            </div>
          </div-->
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
