<h2>Restons en contact.</h2>

<form method="post" action="https://listmonk.changer-grandir.org/subscription/form" target="_blank" class="listmonk-form">
  <div>
    <p>
      Si vous souhaitez être tenu·e au courant des activités que nous
      organisons, nous vous invitons à vous inscrire à notre infolettre.
    </p>
    <p class="notes-additionnelles">
      (En cliquant sur le bouton « Je m'inscris », vous nous donnez votre
      accord pour conserver dans nos fichiers votre adresse électronique et
      votre nom. Nous utilisons ces informations dans le seul but de vous
      envoyer notre infolettre. Vous pourrez vous désinscrire à tout moment.)
    </p>
  </div>

  <div>
    <input type="hidden" name="nonce">
    <input id="3abc9" type="hidden" name="l" value="3abc9ac1-e0a6-4b61-a085-f9edc117a812">

    <p><input type="email" name="email" required placeholder="E-mail"></p>
    <p><input type="text" name="name" placeholder="Nom (facultatif)"></p>

    <p><input type="submit" value="Je m'inscris"></p>
  </div>
</form>
