html { height: 100%; font-family: sans-serif; color: #0f252d; }

body { height: 100%; padding: 0; background: #000; position: relative; margin: 0 auto; width: 900px; }

.conteneur { height: 100%; position: relative; }

header { width: 85%; display: flex; flex-direction: row-reverse; align-items: center; position: absolute; left: 10%; top: 3em; background: #fff6; box-shadow: 10px 10px 15px #0002; }

.grille { min-height: 100%; display: grid; grid-template-columns: 10% 10% 75% 5%; grid-template-rows: 1fr auto auto; background: linear-gradient(135deg, #fabe54, #07ad84); }

.logo { flex-shrink: 0; background: url("../images/logo.png") no-repeat center/100%; width: 5em; height: 5em; margin: 0 0 0 0.4em; }

.titre { flex: 1 0 auto; padding: 0.4em 1em 0.4em 0; text-align: right; font-size: 3em; font-style: italic; font-weight: bold; }

nav { grid-column: 1 / 3; padding: 13em 0 0 2em; background: #0a6379a5; }

nav a { text-decoration: none; color: #0f252d; }

nav a:hover { color: #0a6379; }

nav ul { padding: 0; list-style-type: none; }

nav li { padding: 0.5em 2em 0.5em 0.5em; }

nav li.page_courante { background: #fff5; }

.zone-principale { grid-column: 3 / 4; padding: 13em 0 2em 2em; }

.contenu { padding: 1em; background: #fff6; box-shadow: 10px 10px 15px #0002; color: #0a6379; }

.contenu ul { padding: 0; list-style-type: none; }

.contenu a { text-decoration: none; color: #0a6379; }

.contenu a:hover { color: #07ad84; }

.liste-items ul { margin-bottom: 0; }

h1 { margin-top: 0; margin-bottom: 1em; }

.liste-items li { margin-top: 2em; padding: 1em; background: #fff4; }

.liste-items .infos-item { margin-bottom: 1em; }

.liste-items .infos-item h2 { margin-top: 0; margin-bottom: 0; }

.liste-items .resume-item { display: grid; grid-template-columns: 1fr 6fr; grid-gap: 1em; }

.liste-items .resume-item img { grid-column: 1 / 2; height: 4em; padding-right: 1em; }

.liste-items .resume-item p { grid-column: 2 / 3; margin: 0; font-size: 0.8em; font-style: italic; }

.item { margin: 1em; }

.item .entete-item { position: relative; }

.entete-item img { display: block; margin: 0 0 3em; height: 18em; }

.item .infos-item { position: absolute; right: 1em; top: 60%; padding: 0.5em; background: #fffa; box-shadow: 10px 10px 15px #0002; }

.item .logo { margin: 3em auto 0; width: 5em; }

.item h1 { margin-bottom: 0; }

footer { grid-column: 1 / 5; display: flex; flex-direction: row; align-items: center; padding: 2em; background: #0f252d; color: #fabe5488; font-size: 0.7em; }

footer div { margin: 0 3em; }

footer a { text-decoration: none; color: #fabe54; }

footer a:hover { color: #f2d64b; }
